<!DOCTYPE HTML>
<html>
  
<head>
    <script src=
"https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
</head>
  
<body>

<input id="x" type="text" />
<input id="y" type="text" />
<input id="width" type="text" />
<input id="height" type="text" />
<input id="tokenField" type="text" />
<input type="file" name="file" />
<input id="submitButton" type="button" />

<script>
function ajaxCall(){
    console.log(document)
    document.getElementById('submitButton').on('click',function(){
        console.log(('#file'))
        $.ajax({
            url: "http://127.0.0.1:8000/image/?x=1300&y=400&width=400&height=200",
            type: 'POST',
            data: { 
                    file: $('#file').files(),
                    },
            contentType: 'application/json',
            headers: {
                        "Authorization": "Bearer " + $('#tokenField').val()
                    },
            async: false
                })
    });
}
ajaxCall();
</script>

</body>

</html>